/*------------------------------------------------------------------
8. Footer
*/

.footer { 
    padding: 1.28rem;
    font-family: 'red hat display', sans-serif;
    font-weight: 500;
    font-size: 1.4rem; 
    text-align: center; 

    &__link {
        color: hsl(228, 45%, 44%); 
    }
}
