@use "variables" as variable;
@use "typography";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url("../img/pattern-background-mobile.svg") right 0 top 130px repeat-x variable.$pale-blue;
}

main {
    display: flex;
    flex: 1;
    place-items: center;
}

.img {
    max-width: 100%;
    height: auto;
}