/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.1 Primary
*/

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.2 Neutral
*/

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue:hsl(223, 47%, 23%);

/*------------------------------------------------------------------
1. [VARIABLES] Colors
    1.3 Link states
*/